
body{
    background-color: rgb(5, 5, 162);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: ubuntu, sans-serif;
    scroll-behavior: smooth;
}
/*nav bar*/
#nav-bar{
    line-height: 4rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: .5px solid #ffffff52;
    border-width: 80%;
    margin-bottom: 1rem;
}

#nav-bar ul {
    list-style: none;
}

#nav-bar li {
    margin: 0px 1rem;
}

#nav-bar li a {
    text-decoration: none;
    padding: 0.5rem 0.9rem;
}

.right {
    display: none;
}

.nav-col a:hover {
    border-radius: .4rem;
    color: #1f1f38;
    background-color: #fff;
}
/*home*/
.home-left,
.home-right {
    width: 30%;
    padding: 7rem;
    padding: 0;
}
.home-left h2 {
    color: rgb(255, 255, 7);
    font-family:'Courier New', Courier, monospace;
    font-size: large;
}

.home-left h3 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.home-left h4 {
    color: #8f00fc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.home-left h5 {
    color: aqua;
    font-size: x-large;
}

.home-left h6,
h4 {
    color: rgb(216, 117, 173);
}

/*contact form*/
#contact-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8); /* Optional: to add a dark background behind the form */
    padding: 20px;
    border-radius: 8px;
    display: none; /* Hide the form initially */
    z-index: 1000; /* Ensure it's on top */
}

/* Optional: Style for the button */
.contact-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: rgb(172, 167, 167);
    border: none;
    cursor: pointer;
    
}

.contact-button:hover {
    background-color: #45a049;
}

.copyrights{
    font-size: smaller;
    color: grey;
}



